:root {
    --blue: hsl(246, 80%, 60%);
    --work-lightred: hsl(15, 100%, 70%);
    --play-softblue: hsl(195, 74%, 62%);
    --study-lightred: hsl(348, 100%, 68%);
    --exercise-limegreen: hsl(145, 58%, 55%);
    --social-violet: hsl(264, 64%, 52%);
    --selfcare-softorange: hsl(43, 84%, 65%);
    --almostwhite: rgb(225, 225, 225);
    --verydarkblue: hsl(226, 43%, 10%);
    --darkblue: hsl(235, 46%, 20%);
    --darkblue-hover: hsl(236, 45%, 34%);
    --desaturatedblue: hsl(235, 45%, 61%);
    --paleblue: hsl(236, 100%, 87%);
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--verydarkblue);
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
    font-weight: 100;
}

main {
    max-width: 100vw; /* temp measure */
    min-height: 95vh; /* temp measure */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: clamp(600px, 840px, 840px);
    height: 408px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
}

.square-summary {
    height: clamp(60%, 60% + 18vw, 100%);
    width: clamp(6rem, 6rem + 10vw, 12rem); /*temp measure*/
    position: relative;
    border-radius: 15px;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.person-summary {
    padding: 1rem;
    height: 70%;
    background-color: var(--blue);
    width: clamp(6rem, 6rem + 10vw, 12rem); /*temp measure*/
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem;
}

.time-summary {
    height: 40%;
    width: clamp(6rem, 6rem + 10vw, 12rem); /*temp measure*/
    padding: 1rem;
    background-color: var(--darkblue);
    position: absolute;
    bottom: 0;
    z-index: -1;
    border-radius: 15px;
    padding-top: 3rem;
}

.picture {
    width: 60px;
    height: 60px;
    background-image: url("../src/images/image-jeremy.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border: 3px solid white;
    border-radius: 100%;
}

.for {
    font-size: 0.8rem;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
    color: var(--paleblue);
}
h1 {
    font-size: 2rem;
    font-weight: 100;
}
.person {
    font-size: 2rem;
}

.buttons {
    height: 40%;
    width: 100%;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    border-radius: 15px;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
}

.buttons > span {
    padding-top: 0.5rem;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--desaturatedblue);
}

button:hover {
    color: var(--almostwhite);
}

.active {
    color: var(--almostwhite);
}

.square {
    width: clamp(6rem, 6rem + 10vw, 12rem); /*temp measure*/
    height: clamp(6rem, 6rem + 10vw, 12rem); /*temp measure*/
    position: relative;
}

.bg {
    width: 100%;
    height: 100%;

    border-radius: 15px;
}

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

.three {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    grid-column: 4 / 4;
    grid-row: 1 / 1;
}

.four {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.five {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}

.six {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    grid-column: 4 / 4;
    grid-row: 2 / 2;
}

.bg-one {
    background-color: var(--work-lightred);
    position: relative;
    overflow: hidden;
}

.bg-two {
    background-color: var(--play-softblue);
    position: relative;
    overflow: hidden;
}

.bg-three {
    background-color: var(--study-lightred);
    position: relative;
    overflow: hidden;
}

.bg-four {
    background-color: var(--exercise-limegreen);
    position: relative;
    overflow: hidden;
}

.bg-five {
    background-color: var(--social-violet);
    position: relative;
    overflow: hidden;
}

.bg-six {
    background-color: var(--selfcare-softorange);
    position: relative;
    overflow: hidden;
}

.bg-one::after {
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    top: -0.5rem;
    right: 0.5rem;
    background-image: url("../src/images/icon-work.svg");
    background-repeat: no-repeat;
    background-size: 80%;
}

.bg-two::after {
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    top: -0.5rem;
    right: 0.5rem;
    background-image: url("../src/images/icon-play.svg");
    background-repeat: no-repeat;
    background-size: 80%;
}

.bg-three::after {
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    top: -0.5rem;
    right: 0.5rem;
    background-image: url("../src/images/icon-study.svg");
    background-repeat: no-repeat;
    background-size: 80%;
}

.bg-four::after {
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    top: -0.5rem;
    right: 0.5rem;
    background-image: url("../src/images/icon-exercise.svg");
    background-repeat: no-repeat;
    background-size: 80%;
}

.bg-five::after {
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    top: -0.5rem;
    right: 0.5rem;
    background-image: url("../src/images/icon-social.svg");
    background-repeat: no-repeat;
    background-size: 80%;
}

.bg-six::after {
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    top: -0.5rem;
    right: 0.5rem;
    background-image: url("../src/images/icon-self-care.svg");
    background-repeat: no-repeat;
    background-size: 80%;
}

.content {
    width: 100%;
    height: 80%;
    border-radius: 15px;
    background-color: var(--darkblue);
    position: absolute;
    bottom: 0;
    z-index: 2;
    padding: 1rem;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 30% 40% 20% 1fr;
}

.content:hover {
    cursor: pointer;
    background-color: var(--darkblue-hover);
}

.category {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dots:hover {
    -webkit-filter: brightness(100);
    filter: brightness(100);
}

.time {
    font-size: 2.5rem;
}

.previous {
    font-size: 0.7rem;
    color: var(--paleblue);
    grid-column: 1 / 1;
    grid-row: 3 / 4;
}

footer {
    position: absolute;
    padding-bottom: 10px;
    bottom: 0;
}

footer a:hover {
    text-decoration: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 740px) {
    body {
        width: 100vw;
        height: auto;
        background-color: hsl(240, 100, 100);
    }
    main {
        width: 100%;
        min-height: 100%;
    }

    .wrapper {
        margin-top: 20px;
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .square-summary {
        height: 220px;
        width: 100%; /*temp measure*/
        position: relative;
        border-radius: 15px;
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }

    .person-summary {
        padding: 1rem;
        height: 70%;
        background-color: var(--blue);
        width: 100%; /*temp measure*/
        border-radius: 15px;
        display: grid;
        grid-template-columns: 60px 1fr auto;
        grid-template-rows: 30px 30px 60px 30px;
        padding: 1.5rem;
    }

    .picture {
        grid-column: 1 / 1;
        grid-row: 2 / 3;
    }

    .titles {
        grid-column: 2 / 2;
        grid-row: 1 / 4;
    }

    .for {
        padding-left: 0.5rem;
        padding-top: 0.5rem;
    }

    .person {
        padding-left: 0.5rem;
    }

    .time-summary {
        height: 40%;
        width: 100%; /*temp measure*/
        padding: 1rem;
        background-color: var(--darkblue);
        position: absolute;
        bottom: 0;
        z-index: -1;
        border-radius: 15px;
        padding-top: 3rem;
    }

    .buttons {
        height: 40%;
        width: 100%;
        padding: 1rem;
        position: absolute;
        bottom: 0;
        border-radius: 15px;
        padding-top: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .buttons > span {
        padding-left: 0rem;
    }

    .square {
        width: 100%;
        height: 180px;
        position: relative;
    }

    .content {
        grid-template-columns: 60% 40%;
        grid-template-rows: 30% 50% 20%;
    }

    .category {
        font-size: 0.9rem;
        display: flex;
        align-items: flex-end;
    }

    .dots {
        padding-right: 1rem;
    }

    .time {
        font-size: 1.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .previous {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding-right: 1rem;
        grid-column: 2 / 2;
        grid-row: 2 / 2;
    }

    footer {
        display: none;
        position: fixed;
        padding-bottom: 0px;
        bottom: 0;
    }
}

@media only screen and (min-width: 1400px) {
    body {
        width: 100vw;
        height: 100vh;
        background-color: hsl(240, 100, 100);
    }

    main {
        width: 70vw;
        height: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        width: 840px;
        height: 408px;
    }
}

/*# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Blue: hsl(246, 80%, 60%)

- Light red (work): hsl(15, 100%, 70%)
- Soft blue (play): hsl(195, 74%, 62%)
- Light red (study): hsl(348, 100%, 68%)
- Lime green (exercise): hsl(145, 58%, 55%)
- Violet (social): hsl(264, 64%, 52%)
- Soft orange (self care): hsl(43, 84%, 65%)

### Neutral

- Very dark blue: hsl(226, 43%, 10%)
- Dark blue: hsl(235, 46%, 20%)
- Desaturated blue: hsl(235, 45%, 61%)
- Pale Blue: hsl(236, 100%, 87%)

## Typography

### Body Copy

- Font size: 18px (card titles e.g. Work, Play)

### Font

- Family: [Rubik](https://fonts.google.com/specimen/Rubik)
- Weights: 300, 400, 500
*/
